{% extends 'base.html' %}

{% block content %}
    <h2>{% block title %} What is Tennis Match Predictor? {% endblock %}</h2>
    <span class="badge badge-primary">Python, Flask, SQL, HTML, CSS</span>
    <p>Tennis Match Predictor is a modern web application that is your home for predictions of ATP tennis matches. 
        Using predictive analytics and tennis knowledge, you can generate tennis match predictions with over 72% accuracy. 
        Keep track of your log of generated predictions along with your own predictions and compare them with the actual results. 
        Tennis Match Predictor is easy to use, up-to-date, and highly accurate.
    </p>
    <h2>{% block subtitle %} About the Creator {% endblock %}</h2>
    <p>Malchu Pascual is a computer science student at the University of Maryland. Since tennis was one of his past passions, 
        he has vast experience and knowledge about tennis. He incorporated that knowledge into this application in hopes to 
        replicate his own predictions. 
    </p>
    <a href="https://github.com/malchu"><img class="link" src="static/github.png"></a>
    <a href="https://www.linkedin.com/in/malchupascual/"><img class="link" src="static/linkedin.png"></a>
    <h2>Check out Malchu's Other Apps!</h2>
    <a href=""><img class="link" src="static/tmp.png"></a>
    <a href=""><img class="link" src="static/ChuCodeLogo.png"></a>
{% endblock %}