{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Tennis Match Predictor {% endblock %}</h1>
    <div id="cards">
        <img class="homepic" src="static/federer.jpg">
        <img class="homepic" src="static/djokovic.jpg">
        <img class="homepic" src="static/nadal.jpg">
    </div>
    <div id="hook">
        <h1>Tested to predict with over 75% accuracy.</h1>
    </div>
    <div id="buttondiv">
        <a href="{{url_for('create')}}"><button id="button"><strong>Predict a match now</strong></button></a>
    </div>
{% endblock %}