{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Predict your favorite ATP tennis matches! {% endblock %}</h1>
    <div id="cards">
        <img class="homepic" src="static/federer.jpg">
        <img class="homepic" src="static/djokovic.jpg">
        <img class="homepic" src="static/nadal.jpg">
    </div>
    <div id="hook">
        <h1>Predicted Wimbledon 2022 with over 72% accuracy!</h1>
        <img class="pic" src="static/success.png">
    </div>
    <div id="buttondiv">
        <a href="{{url_for('create')}}"><button id="button"><strong>Predict a match now!</strong></button></a>
    </div>
{% endblock %}